@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  margin: 0%;
  padding: 0%;
  color: white;
  font-family: "Press Start 2P";
}

canvas {
  background-color: black;
}

main {
  background-color: rgb(29, 29, 29);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  gap: 20px;

}

dialog {
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 40%;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: transparent;
  /* Black w/ opacity */
  border: none;
}

dialog:focus {
  outline: none;
}

dialog>div {
  margin: auto;
  width: 300px;
  display: flex;
  height: 50px;
  flex-direction: column;
  align-items: center;

}

dialog>div>* {
  text-align: center;
}

.play-again {
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}

.play-again>p {
  margin: 10px;
}